fastapi
uvicorn
sqlalchemy
asyncpg
databases
pydantic
pydantic-settings
python-multipart
celery[redis]
minio
httpx
python-dotenv
# Local PaddleOCR
paddlepaddle
paddleocr
Pillow
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
email-validator
